<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MaVisa</title>
  </head>
  <script>
  module.exports = {
    theme: {
      fontFamily: {
        main: 'itim',
      }
    },
    plugins: [
        require('flowbite/plugin')
    ]
  }
  </script>
  <body>
    <div id="app" class="font-['itim']">
      <!-- App component -->
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
